@model IEnumerable<MMakerBotPanel.Database.Model.Ticket>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/assets/css/apps/mailing-chat.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="~/Content/plugins/font-icons/fontawesome/css/regular.css">
<link rel="stylesheet" href="~/Content/plugins/font-icons/fontawesome/css/fontawesome.css">

<link href="~/Content/assets/css/components/custom-modal.css" rel="stylesheet" type="text/css" />
<link href="~/Content/plugins/animate/animate.css" rel="stylesheet" type="text/css" />
<link href="~/Content/light/assets/css/scrollspyNav.css" rel="stylesheet" type="text/css" />
<!-- toastr -->
<link href="~/Content/light/plugins/notification/snackbar/snackbar.min.css" rel="stylesheet" type="text/css" />
@*<link href="~/Content/plugins/tagInput/tags-input.css" rel="stylesheet" type="text/css" />*@

<div id="content" class="main-content">
    <div class="layout-px-spacing">
        <div class="chat-section layout-top-spacing">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="chat-system">
                        <div class="hamburger"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu  d-lg-none"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></div>

                        <div class="user-list-box">
                            <div class="search">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                                <input type="text" class="form-control" placeholder="Search" />
                            </div>


                            <div class="people">


                                <div class="person" data-chat="">
                                    <div class="user-info">
                                        <div class="f-body">
                                            <div class="meta-info" style="display:flex; justify-content:center">
                                                <div class="col-auto py-3">
                                                    <div class="icon-container">
                                                        <a data-toggle="modal" data-target="#fadeinModal"><i data-feather="plus" id="CreateTicket"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="chat-box" style="height: calc(100vh - 180px) !important;">
                            <div class="chat-not-selected">
                                <p> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg> Click User To Chat</p>
                            </div>
                            <div class="chat-box-inner">
                                <div class="chat-meta-user">
                                    <div class="current-chat-user-name">
                                        <span><span class="name"></span></span>
                                    </div>
                                    <button type="button" id="closeTicket" class="btn btn-secondary position-relative mt-3 mb-3 ml-2" style="margin-right:1rem">
                                        Close
                                    </button>

                                </div>
                                <div class="chat-conversation-box">
                                    <div id="chat-conversation-box-scroll" class="chat-conversation-box-scroll">
                                        <div class="chat">
                                            <div class="conversation-start">
                                                <span id="LastActivity"></span>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="chat-footer">
                                    <div class="chat-input">
                                        <form class="chat-form" action="javascript:void(0);">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>
                                            <input id="messageButton" type="text" class="mail-write-box form-control" placeholder="Message" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="fadeinModal" class="modal animated fadeInDown" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                </button>
            </div>

            <div class="modal-body">
                <div class="widget-header">
                    <div class="row">
                    </div>
                </div>
                <div class="widget-content widget-content-area">

                    <div class="form-group mb-4">
                        <label>Header</label>
                        <input type="text" class="form-control" id="TicketName" placeholder="Ticket Header..." required>
                    </div>

                    <div class="form-group mb-4">
                        <label>Message</label>
                        <textarea class="form-control" id="TicketMessage" rows="3" required></textarea>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i> Discard</button>
                <button type="button" class="btn btn-primary" id="CreateTicketModal">Create</button>
            </div>
        </div>
    </div>
</div>


<script src="~/Content/assets/js/apps/mailbox-chat.js"></script>
<script type="text/javascript">


    $(document).ready(function () {

        $.ajax({
            url: '/Ticket/TicketChatMemmber?',
            type: "get",
            dataType: "json",
            success: function (result) {
                var html = "";
                for (var i = 0; i < result.length; i++) {
                    html += " <div class='person'  data-chat=" + result[i].TicketID + ">" +
                        " <div class='user-info'>" +
                        " <div class='f-body'>" +
                        " <div class='meta-info' style='margin-bottom:1rem; margin-top:1rem'>" +
                        " <span class='user-name' data-name=" + result[i].TicketName + ">" + result[i].TicketName + "</span>" +
                        " <span class='user-meta-time'>" + result[i].LastActivity + "</span>" +
                        " </div>  <div class='status'>";
                    if (result[i].TicketStatusEnumType == 2) {
                        html += " <span class='badge badge-success'>Answered</span>";
                    } else if (result[i].TicketStatusEnumType == 1) {
                        html += "<span class='badge badge-warning'>Awaiting Answer </span>";
                    } else if (result[i].TicketStatusEnumType == 3) {
                        html += "<span class='badge badge-dark'>Closed</span>";
                    }
                    html += "</div>" +
                        "</div>" +
                        "</div>" +
                        "</div>";
                }
                $('.user-list-box .people').append(html);
            },
            error: function () {

            }
        });


        $('#CreateTicket').attr("width", "45");
        $('#CreateTicket').attr("height", "45");
        $('#CreateTicket').attr("style", "color:#8dbf42; ");

        $('#closeTicket').click(function () {
            var TicketID = 0;
            $(".person").each(function () {
                if ($(this).is(".active")) {
                    TicketID = $(this)[0].attributes[1].value;
                }
            });

            $.ajax({
                url: '/Ticket/CloseTicket?TicketID=' + TicketID,
                type: "get",
                dataType: "json",
                success: function (result) {
                    $(".person").each(function () {
                        if ($(this).is(".active")) {
                            var html = "";
                            if (result == 2) {
                                html += " <span class='badge badge-success'>Answered</span>";
                            } else if (result == 1) {
                                html += "<span class='badge badge-warning'>Awaiting Answer </span>";
                            } else if (result == 3) {
                                html += "<span class='badge badge-dark'>Closed</span>";
                            }
                            $(this).find('.badge').remove();
                            $(this).find('.status').append(html);
                        }
                    })
                },
                error: function () {

                }
            });

        });

        $('#CreateTicketModal').click(function () {
            var TicketName = $('#TicketName').val();
            var TicketMessage = $('#TicketMessage').val();
            if (TicketName != "" && TicketMessage != "") {
                $.ajax({
                    url: "/Ticket/CreateTicket/",
                    type: "post",
                    dataType: "json",
                    data: {
                        'TicketName': TicketName,
                        'TicketMessage': TicketMessage
                    },
                    success: function (result) {
                        reloadPage();
                    },
                    error: function () {

                    }
                });
            }
            else {
                if (TicketName == "") {
                    Snackbar.show({
                        text: 'Ticket name is required',
                        actionTextColor: '#fff',
                        backgroundColor: '#e7515a',
                        pos: 'top-left'
                    });
                }
                else {
                    Snackbar.show({
                        text: 'Ticket message is required',
                        actionTextColor: '#fff',
                        backgroundColor: '#e7515a',
                        pos: 'top-left'
                    });
                }
            }

        });

        $('.people').on('click', '.person', function () {
            var id = 0;
            var html = "";

            $(".person").each(function () {
                if ($(this).is(".active")) {
                    id = $(this)[0].attributes[1].value;
                }
            });

            $.ajax({
                url: '/Ticket/TicketChat?id=' + id,
                type: "get",
                dataType: "json",
                success: function (result) {
                    $(".bubble").remove();
                    $('.chat').attr("data-chat", id);
                    $('.chat').addClass('active-chat');
                    $('#LastActivity').html(result[0].LastActivity);
                    if (result[0].TicketStatusEnumType == 3) {
                        $('#messageButton').attr('readonly', true);
                        $('#closeTicket').attr('disabled', true);
                    }
                    else {
                        $('#messageButton').removeAttr("readonly");
                        $('#closeTicket').removeAttr("disabled");
                    }

                    for (var i = 0; i < result[0].TicketDetail.length; i++) {
                        if (result[0].TicketDetail[i].UserRole == "Admin") {
                            html += "<div class='bubble you' id=" + result[0].TicketDetail[i].TicketDetailID + " >" + result[0].TicketDetail[i].Message + " </div>"


                        } else {
                            html += "<div class='bubble me' id=" + result[0].TicketDetail[i].TicketDetailID + " >" + result[0].TicketDetail[i].Message + " </div>"

                        }
                    }

                    $(".chat").append(html);
                    const getScrollContainer = document.querySelector('.chat-conversation-box');
                    getScrollContainer.scrollTop = getScrollContainer.scrollHeight;

                },
                error: function () {

                }
            });
        });

        $('.mail-write-box').on('keydown', function (event) {
            if (event.key === 'Enter') {
                var chatInput = $(this);
                var chatMessageValue = chatInput.val();
                if (chatMessageValue === '') { return; }
                var TicketID = $('.chat').attr("data-chat");
                $('#messageButton').attr('readonly', true);
                $.ajax({
                    url: '/Ticket/MessageButton/',
                    type: "post",
                    dataType: "json",
                    data: {
                        'TicketID': TicketID,
                        'Message': chatMessageValue
                    },
                    success: function (result) {

                        $(".person").each(function () {
                            if ($(this).is(".active")) {
                                var html = "";
                                if (result.TicketStatusEnumType == 2) {
                                    html += " <span class='badge badge-success'>Answered</span>";
                                } else if (result.TicketStatusEnumType == 1) {
                                    html += "<span class='badge badge-warning'>Awaiting Answer </span>";
                                } else if (result.TicketStatusEnumType == 3) {
                                    html += "<span class='badge badge-dark'>Closed</span>";
                                }
                                $(this).find('.badge').remove();
                                $(this).find('.status').append(html);
                            }
                        })


                        $messageHtml = "<div class='bubble me' id=" + result.TicketDetayID + ">" + chatMessageValue + '</div>';
                        $(this).parents('.chat-system').find('.active-chat').append($messageHtml);
                        const getScrollContainer = document.querySelector('.chat-conversation-box');
                        getScrollContainer.scrollTop = getScrollContainer.scrollHeight;
                        chatInput.val('');

                        $('#messageButton').removeAttr("readonly");
                    },
                    error: function () {

                    }
                });


            }
        });

        setInterval(newMessageCheck, 2500);

    });

    function reloadPage() {
        window.location.reload()
    }

    function newMessageCheck() {

        var id = $('.bubble').last().attr('id');
        if (id != undefined) {
            $.ajax({
                url: '/Ticket/NewMessageCheck?id=' + id,
                type: "get",
                dataType: "json",
                success: function (result) {
                    var status = 'Member';
                    if (result.length > 0) {
                        var html = "";
                        for (var i = 0; i < result.length; i++) {
                            if (result[i].UserRole == "Admin") {
                                html += "<div class='bubble you' id=" + result[i].TicketDetailID + " >" + result[i].Message + " </div>"
                                status = 'Admin';

                            } else {
                                html += "<div class='bubble me' id=" + result[i].TicketDetailID + " >" + result[i].Message + " </div>"
                                status = 'Member';
                            }
                        }


                        $(".chat").append(html);
                        const getScrollContainer = document.querySelector('.chat-conversation-box');
                        getScrollContainer.scrollTop = getScrollContainer.scrollHeight;

                        $(".person").each(function () {
                            if ($(this).is(".active")) {
                                var html = "";
                                if (status == 'Admin') {
                                    html += " <span class='badge badge-success'>Answered</span>";
                                } else {
                                    html += "<span class='badge badge-warning'>Awaiting Answer </span>";
                                }
                                $(this).find('.badge').remove();
                                $(this).find('.status').append(html);
                            }
                        })

                    }
                },
                error: function () {

                }
            });
        }
    }





</script>
<script src="~/Content/plugins/font-icons/feather/feather.min.js"></script>

@*<script src="~/Content/plugins/tagInput/tags-input.js"></script>*@
<script type="text/javascript">
    feather.replace();
</script>
<script src="~/Content/light/assets/js/scrollspyNav.js"></script>
<!-- toastr -->
<script src="~/Content/light/plugins/notification/snackbar/snackbar.min.js"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!--  BEGIN CUSTOM SCRIPTS FILE  -->
<script src="~/Content/light/assets/js/components/notification/custom-snackbar.js"></script>
<!--  END CUSTOM SCRIPTS FILE  -->

