@model IEnumerable<MMakerBotPanel.Database.Model.Product>

@{

    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}


<link rel="stylesheet" type="text/css" href="~/Content/light/plugins/table/datatable/datatables.css">
<link rel="stylesheet" type="text/css" href="~/Content/light/assets/css/forms/theme-checkbox-radio.css">
<link rel="stylesheet" type="text/css" href="~/Content/light/plugins/table/datatable/dt-global_style.css">
<link rel="stylesheet" type="text/css" href="~/Content/light/plugins/table/datatable/custom_dt_custom.css">
<link href="~/Content/light/assets/css/scrollspyNav.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="~/Content/light/assets/css/forms/theme-checkbox-radio.css">

<div id="content" class="main-content" style="margin-top:1rem">
    <div class="layout-px-spacing">
        <div class="row layout-spacing">
            <div class="col-lg-12">
                <div class="statbox widget box box-shadow">
                    <div class="widget-content widget-content-area">
                        <div class="table-responsive mb-4">
                            <table id="style-3" class="table style-3  table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">@Html.DisplayNameFor(model => model.ProductName)</th>
                                        <th class="text-center">@Html.DisplayNameFor(model => model.Demo)</th>
                                        <th class="text-center">Edit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="text-center">@Html.DisplayFor(modelItem => item.ProductName)</td>
                                            @if (item.Demo)
                                            {
                                                <td class="text-center">
                                                    <div class="n-chk" style="margin-bottom:0.5rem">
                                                        <label class="new-control new-checkbox new-checkbox-rounded new-checkbox-text checkbox-success">
                                                            <input type="checkbox" class="new-control-input" checked="checked" disabled="disabled">
                                                            <span class="new-control-indicator"></span><span class="new-chk-content"></span>
                                                        </label>
                                                    </div>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="text-center">
                                                    <div class="n-chk" style="margin-bottom:0.5rem">
                                                        <label class="new-control new-checkbox new-checkbox-rounded new-checkbox-text checkbox-success">
                                                            <input type="checkbox" class="new-control-input" disabled="disabled">
                                                            <span class="new-control-indicator"></span><span class="new-chk-content"></span>
                                                        </label>
                                                    </div>

                                                </td>
                                            }

                                            <td class="text-center">
                                                <ul class="table-controls">
                                                    <li><a href="@Url.Action("ProductDetail" , "Product" , new { id = item.ProductID })" class="bs-tooltip"  data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 p-1 br-6 mb-1"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg></a></li>
                                                </ul>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/light/plugins/table/datatable/datatables.js"></script>
<script src="~/Content/light/assets/js/scrollspyNav.js"></script>
<script>
    c3 = $('#style-3').DataTable({
        "oLanguage": {
            "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
            "sInfo": "Showing page _PAGE_ of _PAGES_",
            "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
            "sSearchPlaceholder": "Search...",
            "sLengthMenu": "Results :  _MENU_",
        },
        "stripeClasses": [],
        "lengthMenu": [5, 10, 20, 50],
        "pageLength": 5
    });

    multiCheck(c3);
</script>

