@model IEnumerable<MMakerBotPanel.Database.Model.User>

@{
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/light/plugins/table/datatable/datatables.css">
<link rel="stylesheet" type="text/css" href="~/Content/light/assets/css/forms/theme-checkbox-radio.css">
<link rel="stylesheet" type="text/css" href="~/Content/light/plugins/table/datatable/dt-global_style.css">
<link rel="stylesheet" type="text/css" href="~/Content/light/plugins/table/datatable/custom_dt_custom.css">
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="~/Content/light/plugins/animate/animate.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->
<!--  BEGIN CUSTOM STYLE FILE  -->
<link href="~/Content/light/assets/css/scrollspyNav.css" rel="stylesheet" type="text/css" />
<link href="~/Content/light/assets/css/components/custom-modal.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="~/Content/light/assets/css/elements/alert.css">
<style>
    .btn-light {
        border-color: transparent;
    }
</style>



<div id="content" class="main-content">
    <div class="layout-px-spacing">
        <button type="button" class="btn btn-secondary mb-2 mr-2" data-toggle="modal" data-target="#registerModal" style="margin-top:2rem">
            Create Admin
        </button>
        <div class="" id="alert"></div>
        <div class="row layout-top-spacing layout-spacing">
            <div class="col-lg-12">
                <div class="statbox widget box box-shadow">
                    <div class="widget-content widget-content-area">
                        <div class="table-responsive mb-4">
                            <table id="style-2" class="table style-2  table-hover">

                                <thead>
                                    <tr style="text-align: center;">
                                        <th class="text-center">Image</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th class="text-center"></th>
                                        <th class="text-center">Status</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr style="text-align: center;">
                                            <td class="text-center">
                                                <span><img src="data:image/png;base64,@item.Image" class="rounded-circle profile-img" alt="avatar"></span>
                                            </td>
                                            <td>@item.Name</td>
                                            <td>@item.SurName</td>
                                            <td>@item.Email</td>

                                            @if (item.SuperAdmin == true)
                                            {

                                                <td class="text-center"><span class="badge badge-dark">Super Admin</span></td>
                                                if (item.Disabled == true)
                                                {
                                                    <td class="text-center"><span class="badge badge-danger">Suspended</span></td>
                                                    <td class="text-center"></td>

                                                }
                                                else
                                                {

                                                    <td class="text-center"> <span class="badge badge-success">Active</span></td>
                                                    <td class="text-center"></td>
                                                }
                                            }
                                            else
                                            {
                                                <td class="text-center"></td>
                                                if (item.Disabled == true)
                                                {
                                                    <td class="text-center" ><span class="badge badge-danger">Suspended</span></td>

                                                }
                                                else
                                                {
                                                    <td class="text-center"><span class="badge badge-success">Active</span></td>

                                                }

                                                <td class="text-center"><button class="bs-tooltip" style="border:none ; background-color: #ffffff;" data="@item.UserID" title="Suspended"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle table-cancel"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg></button></td>
                                            }




                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade register-modal" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header" id="registerModalLabel">
                <h4 class="modal-title">Create Admin</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></button>
            </div>
            <div class="modal-body">
                <form class="mt-0" id="newAdminForm">
                    <div class="form-group">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                        <input type="text" class="form-control mb-2" id="exampleInputUsername1" placeholder="First name" required>
                    </div>
                    <div class="form-group">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                        <input type="text" class="form-control mb-2" id="exampleInputLastname1" placeholder="Last name" required>
                    </div>
                    <div class="form-group">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-at-sign"><circle cx="12" cy="12" r="4"></circle><path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-3.92 7.94"></path></svg>
                        <input type="email" class="form-control mb-2" id="exampleInputEmail2" placeholder="Email" required>
                    </div>
                    <div class="form-group" id="pass">
                        <svg style="cursor:pointer" id="toggle" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock">
                            <rect x="3" y="11" width="18" height="11" rx="2" ry="2"> </rect>
                            <path d="M7 11V7a5 5 0 0 1 10 0v4"> </path>
                        </svg>

                        <input type="password" class="form-control mb-4" id="exampleInputPassword2" placeholder="Password" required>
                    </div>
                    <button type="submit" class="btn btn-primary mt-2 mb-2 btn-block">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/light/plugins/table/datatable/datatables.js"></script>


<script>

    c2 = $('#style-2').DataTable({
        "oLanguage": {
            "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
            "sInfo": "Showing page _PAGE_ of _PAGES_",
            "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
            "sSearchPlaceholder": "Search...",
            "sLengthMenu": "Results :  _MENU_",
        },
        "lengthMenu": [5, 10, 20, 50],
        "pageLength": 5,
        "order": [[4, 'desc']]
    });

    multiCheck(c2);

    $(document).ready(function () {
        status();
        document.querySelector("#newAdminForm").addEventListener("submit", function (e) {
            e.preventDefault();   
        });
        newAdmin();
        $("#toggle").on("click", function () {
            var passLock = $('#exampleInputPassword2').attr('type');
            if (passLock === "password") {
                $('#exampleInputPassword2').attr('type', 'text');
            } else {
                $('#exampleInputPassword2').attr('type', 'password');

            }
        })

    });

    function status() {
        $('#style-2').on('click', '.bs-tooltip', function () {
            var id = $(this).attr('data');
            var status = "";

            $.ajax({
                url: '/Users/Status?id=' + id,
                type: "get",
                dataType: "json",
                success: function (result) {
                    if (result == true) {
                        status = "Suspended";
                    } else {
                        status = "Active";
                    }

                    bagde(status, id);
                },
                error: function () {

                }

            });
        });
    }

      
    function bagde(status, id)
    {

        if (status == "Active") {
            $.ajax({
                url: '/Users/Suspended?id=' + id,
                type: "get",
                dataType: "json",
                success: function (result) {
                    window.location.reload();

                },
                error: function () {

                }

            });


        } else {

            $.ajax({
                url: '/Users/Active?id=' + id,
                type: "get",
                dataType: "json",
                success: function (result) {
                    window.location.reload();

                },
                error: function () {

                }

            })
        }
    }
            




    function newAdmin() {
        $('#registerModal').on('click', '.btn-block', function () {
            var FisrtName = $('#exampleInputUsername1')[0].value;
            var LastName = $('#exampleInputLastname1')[0].value;
            var email = $('#exampleInputEmail2')[0].value;
            var password = $('#exampleInputPassword2')[0].value;
            if (FisrtName != "" && LastName != "" && email != "" && password != "") {
                $.ajax({
                    url: '/Users/CreateAdmin',
                    type: "post",
                    dataType: "json",
                    data: {
                        'FisrtName': FisrtName,
                        'LastName': LastName,
                        'Email': email,
                        'Password': password,
                    },
                    success: function (result) {

                        if (result == true)
                        {
                            setTimeout(function () {
                                window.location.reload();

                            }, 1000);


                        }
                        else
                        {
                            var html = "";
                            $('.close').click();
                            html += "<div class='alert alert-danger mb-4' role='alert'> <button type='button' class='close' data-dismiss='alert' aria-label='Close'> <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-x close' data-dismiss='alert'><line x1='18' y1='6' x2='6' y2='18'></line><line x1='6' y1='6' x2='18' y2='18'></line></svg></button> <strong>Error!</strong> " + result +" </div> ";
                            setTimeout(function () {
                                $('#alert').append(html);

                            }, 1000);
                        }


                    },
                    error: function () {

                    }

                });
            } else {

            }


        });


    }


</script>
<script src="~/Content/light/assets/js/scrollspyNav.js"></script>